node_modules/
.next/
out/
dist/
build/
.turbo/

# generated
apps/web/styles/tokens.css
apps/web/public/search/
apps/api/db.sqlite3
apps/api/media/
apps/api/staticfiles/

# env
.env
.env.local
.env.*.local
!.env.example

# python
__pycache__/
*.pyc
.venv/
venv/

# os / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
.next-verify

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan

# NextJS Export
apps/web/.next-export/
.output/
# Screenshots
tests/screenshots/
